.lists {
    display: grid;
    grid-template-areas: 
    "a e c"
    "b e d";
    gap: var(--gap);
    grid-template-columns: 1fr 2fr 1fr;
    width: 75vw;
    transition: .4s ease-in-out;
}
.lists li {
    display: flex;
    justify-content: space-between;
}
.taskForm {
    display: flex;
    flex-direction: column;
    grid-area: e;
    overflow: hidden;
    box-shadow: 5px 10px 20px var(--shadowColor), -5px 10px 20px var(--shadowColor);
    padding: var(--padding) calc(var(--padding)*2);
}
.allTasks ul {
    height: calc(var(--i) * 16);
    overflow-y: scroll;
    margin-top: var(--padding);
}
.searchDiv {
    display: flex;
    gap: var(--i);
    padding: var(--padding) 0;
}
.glassEffect {
    background: var(--glassColor);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border-radius: var(--borderRad);
    border: 0.5px solid var(--shadowColor);
}
.taskForm input[type="text"] {
    width: 100%;
    border: none;
    padding: calc(var(--padding) * 0.5);
    border-radius: calc(var(--borderRad) * 0.5);
    border: 0.5px solid var(--shadowColor);
    box-shadow: 2px 2px 10px var(--shadowColor);
}
.taskForm input[type="text"]:focus {
    outline: 2px solid #5a8397;
    border-radius: 5px;
}
button.defaultBttn {
    background: #ebe9e0;
    padding: calc(var(--padding) * 0.5);
    border: none;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1.5px;
    border-radius: calc(var(--borderRad) * 0.5);
    box-shadow: 2px 2px 10px var(--shadowColor);
    opacity: 0.8;
}
button.defaultBttn:hover {
    box-shadow: 5px 5px 5px var(--shadowColor);
    opacity: 1;
}
button.deleteAllBttn {
    margin: var(--i) auto 0;
    z-index: 3;
}