@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
    --i: calc(1vw + 1vh);
    --padding: 1.2rem;
    --gap: var(--i);
    --darkColor: rgb(58, 58, 58);
    --shadowColor: rgba(30, 30, 30, 0.191);
    --glassColor: rgba(255, 255, 255, 0.292);
    --blue: #4187aadc;
    --borderRad: 10px;
}
::selection {
    background-color: var(--blue);
    color: white;
}
body {
    font-family: helvetica neue;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    color: var(--darkColor);
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("../Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
h2,
h3 {
    color: var(--darkColor);
    font-family: "Montserrat";
    font-weight: 600;
}
h2 {
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: var(--padding) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
    .lists {
        display: flex;
        flex-direction: column;
        width: max-content;
        height: max-content;
    }
    .list,
    .taskForm {
        padding: var(--padding) calc(var(--padding)*2);
    }
    .list:nth-of-type(odd),
    .list:nth-of-type(even) {
        box-shadow: 5px 10px 20px var(--shadowColor),
            -5px 10px 20px var(--shadowColor);
    }
    .list h3::after, .allTasks h3::after {
        left: -20%;
        width: 70%;
    }
}
@media screen and (min-width: 801px) {
    .wrapper {
        align-items: center;
        justify-content: center;
    }
}
